body{
background-color: #EFE7F1;
color: #D7B377; 
font-size: 16px;
margin: 0;
padding:0;
position:relative;
}

.jumbotron{
	margin-bottom:0;
}
.titleText{
	font-family: 'Pacifico', cursive;
	margin-right: 12px;
}

.accentText{
	font-family: 'Dosis', sans-serif;
}

.connectBtn img{
	max-width: 50px;
	max-height: 50px;
	display: inline-block;
}

.connectBtn{
	padding: 7px 0 10px 0;
}

.navbar{
	margin-bottom:0;

}
.topSpace{
	margin: 10% 0 0 0 ;

}

.navbar-default {
  background-color: #EFE7F1;
  border-color: #EFE7F1;
  color:#D44D5C;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #D44D5C;
}

.btn-default {
  color: #D44D5C;
  background-color: #EFE7F1;
  border-color: #EFE7F1;

}
.main{
	color: #D7B377;
	background-color:#D44D5C;
	padding: 24px;
	min-height: 300px;

}
.main h1{
	font-size: 300%;

}

.row .about{
	color: #76083B;
	background-color: #D7B377;
	padding-bottom: 24px;
}
.row .contact{
	color: #D44D5C;
	background-color: #563C44;
	padding-bottom: 24px;
}

#sam{
	height:200px;
	width: 200px;
	border-radius: 100px;
}

.contact .form-control{
	background-color: #EFE7F1;
}


.underline{
	width: 100%;
	border-bottom: 2px dotted #EFE7F1;

}

#cxn>h2{
	display: inline-block;
	margin: 10px;

}
.connectBtn img{
	height:50px;
	width:50px;
	margin:0;
	padding: 0;
}


.hide{
	visibility: none;
}

/*  Gallery code below */

.gallery img{
	max-width:280px;


}
.gallery-item, .center{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.gallery-item{
	background-color: #EFE7F1;
	border: 1px solid white;
	padding:6px;
	margin:6px;
	max-width: 300px;
	max-height: 400px;
	overflow: hidden;
	border-radius: 50px;
	margin: 0 auto;
}

.floatLeft{
	float: left;

}

/*Resources code*/

.resources{
	min-height:400px ;

}

.textBlock{
	padding: 20px;
	margin: 12px;

}