body{
background-color: #EFE7F1;
color: #D7B377; 
font-size: 16px;
margin: 0;
padding:0;
position:relative;
}

.jumbotron{
	margin-bottom:0;
}
.titleText{
	font-family: 'Pacifico', cursive;
	margin-right: 12px;
}

.accentText{
	font-family: 'Dosis', sans-serif;
}

.navbar{
	margin-bottom:0;

}
.topSpace{
	margin: 10% 0 0 0 ;

}

.navbar-default {
  background-color: #EFE7F1;
  border-color: #D44D5C;
  color:#76083B;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #76083B;
}

.btn-default {
  color: #D44D5C;
  background-color: #fff;
  border-color: #EFE7F1;

}
.main{
	color: #76083B;
	background-color:#EFE7F1;
	min-height: 300px;

}
.main h1{
	font-size: 300%;

}
.quickBlurb .colorFill{
	background-color: #563C44;

}


.row .about{
	color: #76083B;
	background-color: #D7B377;
	padding-bottom: 24px;
}
.row .contact{
	color: #D44D5C;
	background-color: #563C44;
	padding-bottom: 24px;
}



#sam{
	height:200px;
	width: 200px;
	border-radius: 100px;
}

.contact .form-control{
	background-color: #fff;
}


.underline{
	width: 100%;
	border-bottom: 2px dotted #EFE7F1;

}

#cxn>h2{
	display: inline-block;
	margin: 10px;

}
.connectBtn img{
	display: inline-block;
	height:40px;
	width:40px;
	margin:0;
	padding: 0;
}


/*  Gallery code below */

.gallery img{
	max-width:280px;
	max-height: 300px;
	
}
.gallery-item, .center{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.gallery-item{
	background-color: #EFE7F1;
	padding:6px;
	margin:6px;
	width: 300px;
	height: 400px;
	overflow: hidden;
	margin: 16px;
	box-shadow: 4px 4px 4px #ccc3c3;
}
.gallery .entryTitle{
	font-style: bold;
	font-size: 120%;
	color: #76083B;
	text-align: left;
}
.gallery p{
	color: ;
	padding:14px;
	text-align: left;

}

.floatLeft{
	float: left;
}


.stats{
	background-color: #D44D5C;
	color: #D7B377;
}

.aboutPage .colorFill{
	background-color: #D44D5C;

}

/*Resources code*/

.resources{
	min-height:400px ;
	background-color : #EFE7F1;
	color: #563C44 ;
	padding: 24px;
}

.textBlock{
	margin: 12px;
}

.resources a, .resources a:hover, .resources a:visited {

}